.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.google img {
    height: 100px;
    margin: 40px 0 20px 0;
}

.search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}
.search-icon-button {
    height: 42px;
    margin-right: -2px;

    background-color: white;

    border: 1px solid gray;
    border-right: none;
    border-start-start-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search input {
    padding: 10px 1px;
    width: 400px;
    height: 20px;

    border: 1px solid gray;
    border-left: none
}
.search input::placeholder {
    font-size: 15px;
}
.voice-search {
    height: 42px;
    margin-left: -2px;

    background-color: white;

    border: 1px solid gray;
    border-left: none;
    border-end-end-radius: 20px;
    border-top-right-radius: 20px;
}
.voice-icon, .span span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.voice-icon img {
    height: 28px;
    margin: 1px 10px;
}
.span span {
    margin: 1px 10px;
}
.voice-icon:hover {
    cursor: pointer;
}

.google-button, .lucky-button {
    padding: 10px 10px;
    margin: 20px 5px;
    border: 1px solid white;
    border-radius: 4px;
}
.google-button:hover, .lucky-button:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.language {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto, Arial;
    font-size: 12px;
}
.language p {
    margin: 0 4px;
    font-size: 12px;
    color: blue;
}
.language p:hover {
    cursor: pointer;
    text-decoration: underline;

}